<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title></title>
		<link rel="stylesheet" href="./public/css/yunyingshang.css" />	
		
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>运营商</span>
		</div>
		<span class="yys_text">必填项</span>
		
		<div class="yys_body">
			
			<div class="head_p"><div class="head_pic">添加头像</div></div>
			<input class="text" type="text" name="" id="" value="" placeholder="公司名"/>
			<input class="text" type="text" name="" id="" value="" placeholder="企业邮箱、公司总机"/>
			<input class="text" type="text" name="" id="" value="" placeholder="联系人"/>
			<input class="text" type="text" name="" id="" value="" placeholder="联系方式"/>
		</div>
		<span class="yys_text">必填项</span>
		<div class="yys_body">
			<input class="text" type="text" name="" id="" value="" placeholder="微信号码"/>
			<ul class="material">
				<li class="material_pic">微信二维码</li>
				<li class="material_pic">营业执照</li>
				<li class="material_pic">运营/租赁协议</li>
			</ul>
		</div>
		<div class="login_log">完成</div>
	</body>
</html>
