<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title></title>
		<link rel="stylesheet" href="./public/css/zhuce.css" />	
		
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>忘记密码</span>
		</div>
			<div class="login_input">
			<div class="login_name"></div>账号：<input class="name" type="text" placeholder="请输入你的手机号"/>

			</div>
			<div class="login_input">
			<div class="login_check"></div>验证码：<input class="name" type="text" placeholder="请输入验证码"/>
				<span class="check">获取验证码</span>
			</div>
			<div class="login_input">
			<div class="login_pass"></div>密码：<input class="name" type="text" placeholder="请输入新的登录密码"/>

			</div>
			<div class="login_input">
			<div class="login_pass"></div>密码：<input class="name" type="text" placeholder="请输入新的登录密码"/>

			</div>
			<div class="login_input">
			<div class="login_stau"></div>身份：<input class="name" type="text" placeholder="经纪人"/>
				<div class="style_chose"></div>
				<ul>
					<li>经纪人</li>
					<li>小业主</li>
					<li>运营商</li>
					<li>代理商</li>
					<li>开发商</li>
				</ul>
			</div>
			
			<div class="login_log">注册</div>
			<div class="zhuce_info"><span>注册即代表同意</span><span class="xieyi">《活力矩阵用户协议》</span></div>
		
	</body>
</html>
