<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title></title>
		<link rel="stylesheet" href="../public/css/info/myself.css" />	
	</head>
	<body>
		<div class="myself_top">我
			<span class="options"></span>
		</div>
		<div class="myself_login">
			<div class="myself_login_pic"></div>
			<span class="myself_login_click">点击登录/注册</span>
			<span class="more"></span>
			
		</div>
		<div class="collection">
			<span class="number">0</span><span class="collection_text">收藏</span><span class="segmentation">|</span>
			<span class="number">0</span><span class="collection_text">积分</span>
		</div>
		<div class="demand">
			<span class="demand_pic"></span>
			<span class="demand_txt">我发布的需求</span>
			<span class="demand_more"></span>
		</div>
		<div class="demand">
			<span class="demand_pic2"></span>
			<span class="demand_txt">我发布的房源</span>
			<span class="demand_more"></span>
		</div>
		<div class="demand">
			<span class="demand_pic3"></span>
			<span class="demand_txt">我预约的房源</span>
			<span class="demand_more"></span>
		</div>
		<div class="demand">
			<span class="demand_pic4"></span>
			<span class="demand_txt">历史交易</span>
			<span class="demand_more"></span>
		</div>
		<div class="demand">
			<span class="demand_pic5"></span>
			<span class="demand_txt">过期房源</span>
			<span class="demand_more"></span>
		</div>
	
	
		<ul class="myself_bottom">
			<li><span class="myself_bottom_pic1"></span>首页</li>
			<li><span class="myself_bottom_pic2"></span>预约</li>
			<li><span class="myself_bottom_pic3"></span></li>
			<li><span class="myself_bottom_pic4"></span>信息</li>
			<li><span class="myself_bottom_pic5"></span><a>我</a></li>
		</ul>
	
	</body>
</html>
