<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title></title>
		<link rel="stylesheet" href="../public/css/info/option.css" />
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>设置</span>
		</div>
		
		
		<div class="demand">
			
			<span class="demand_txt">接收需求</span>
			<span class="demand_txt2"></span>
			<div class="demand_on"><div class="demand_off"></div></div>
		</div>
		<div class="demand">			
			<span class="demand_txt">关于</span>
			<span class="demand_more"></span>
		</div>
		<div class="demand">	
			<span class="demand_txt">清除缓存</span>
			<span class="demand_txt2">7.02M</span>
			<span class="demand_more"></span>
		</div>
		<div class="exit">退出登录</div>
	</body>
</html>
