<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
		<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
		杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>项目名 - 杭州瑞烁网络科技股份有限公司</title>
		<link rel="stylesheet" href="../public/css/Home_page/Recent_search.css" />
	</head>
	<body>
		<div class="search">
			<input type="text" name="" id="" value="" placeholder="挑好房，上活力矩阵"/>
			<span class="search_text">搜索</span>
			<span class="search_pic"></span>
		</div>
		<div class="search_prompt">
			<span class="search_prompt_bt1">最近搜索</span>
			<span class="search_prompt_bt2">清除</span>
		</div>
		<div class="search_bottom"></div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/libs/zepto/touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/page_home/page_home.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
